* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

/**/

/*플로팅 아이콘*/
#floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  z-index: 50;
}

/*플로팅_top버튼*/
.top {
  padding-bottom: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.topInner {
  background-color: white;
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: #ff8f1c;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.top i {
  transition: 0.3s;
}
.top:hover i {
  transform: translateY(-5px);
}

/*플로팅_메인 contact 버튼*/
.floatFix {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: aqua;
  background: url(img/p7.jpg) center no-repeat;
  background-size: cover; /*??*/
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}
.floatFix p {
  font-size: 12px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

/*플로팅_문의창*/
.inquery {
  width: 500px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  border-radius: 30px;
  box-sizing: border-box;
  display: none;
  position: absolute;
  left: -400px;
  top: 0;
  text-align: left;
  opacity: 0;
}
.inquery i {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 20px;
  cursor: pointer;
}
.inquery h4 {
  font-size: 23px;
}
.inquery p {
  padding: 10px 0px;
  border-bottom: 1px solid black;
}
.inquery li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}
.inquery li input {
  width: 250px;
  height: 30px;
  padding: 5px 20px;
  border-radius: 15px;
  border: 0.5px solid black;
}
.inquery li:nth-child(3) {
  align-items: flex-start; /*흠..*/
}
.inquery li:nth-child(3) input {
  height: 100px;
  border-radius: 20px;
}

.inquery button {
  display: block;
  margin-left: auto;
  background-color: #ff8f1c;
  border: none;
  padding: 10px;
  border-radius: 10px; /*통일?*/
  cursor: pointer;
  color: white;
}
