* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

@media (min-width: 1220px) {
  /**/
  section h2 {
    padding: 0px 50px;
  }
  .con01 {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(-90deg, #fff, #fff5bc);
    padding-top: 170px;
  }
  .con01::after {
    width: 100%;
    height: 100px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #ffffff);
  }
  .con01 .one {
    height: 500px;
  }

  /*.con01_큰 궤도*/
  .con01 .center {
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    background-color: white;
  }
  .con01 .orbit {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle-one {
    width: 500px;
    border: 1px solid #ddd;
    z-index: 5;
  }
  .circle-two {
    width: 450px;
    border: 1px solid #999;
    z-index: 6;
  }
  .circle-three {
    width: 400px;
    border: 1px solid black;
    z-index: 7;
  }

  /*.con01_큰 궤도_원 움직임*/
  .con01 .big {
    width: 20px;
    background-color: #ff8f1c;
    /* animation: orbit 7s linear infinite; */
  }
  .con01 .move1 {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 0% 260px;
    animation: orbit 5s linear infinite;
  }
  .con01 .move2 {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 235px 0px;
    animation: orbit 6s linear infinite;
  }
  .con01 .move3 {
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: -190px 0px;
    animation: orbit 7s linear infinite;
  }

  /*.con01_작은 궤도*/
  .circle-four {
    width: 250px;
    border: 1px solid black;
    z-index: 8;
  }
  .circle-five {
    width: 200px;
    border: 1px solid #999;
    z-index: 9;
  }
  .circle-six {
    width: 150px;
    border: 1px solid #ddd;
    z-index: 10;
  }

  /*.con01_작은 궤도_원 움직임*/
  .con01 .small {
    width: 16px;
    background-color: #fff147;
    animation: orbit 3s linear infinite;
  }
  .con01 .move4 {
    transform-origin: 0% 260px; /* 개체의 회전 중심점 설정 (부모 반지름만큼) */
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 0% 133px;
  }
  .con01 .move5 {
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 108px 0px;
  }
  .con01 .move6 {
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: -67px 0px;
  }

  /*.con01_원 움직임_애니메이션*/
  @keyframes orbit {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /*.con01_중앙 이미지*/
  .con01 img {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  /*.con01_values */
  .con01 .values p {
    cursor: pointer;
    font-weight: bold;
    z-index: 11;
    animation: upDown infinite 0.7s alternate linear;
  }
  @keyframes upDown {
    0% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(-4px);
    }
  }
  .con01 .values > div {
    position: absolute;
    transition: 0.4s;
  }
  .con01 .values > div.sizeUp {
    font-size: 22px;
  }
  .con01 .values > div.active {
    font-size: 22px;
    color: #ffc848;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .con01 .values > div:nth-child(1) {
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%); /*??*/
  }
  .con01 .values > div:nth-child(2) {
    bottom: 30px;
    left: -50px;
  }
  .con01 .values > div:nth-child(3) {
    bottom: 30px;
    right: -30px;
  }

  /*.con01_텍스트*/
  .con01 ul {
    width: 85%;
    height: 100%;
    position: absolute;
    top: calc(50% - 12px); /*수동계산.. 다른방법?*/
    left: 50%;
    transform: translate(-50%, -50%); /*??*/
    align-content: center;
  }
  .con01 ul h3 {
    font-size: 40px;
    backface-visibility: hidden;
  }
  .con01 ul p {
    margin: 15px 0px;
    align-content: center;
  }
  .con01 ul li div:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }
  .con01 ul li div:nth-child(2) p {
    font-size: 18px;
  }
  .con01 ul li div:nth-child(2) .second {
    font-size: 25px;
    font-weight: bold;
    backface-visibility: hidden;
  }
  .con01 .line {
    width: 100%;
    height: 1px;
    background-color: black;
  }
  .con01 li {
    display: none;
    opacity: 0;
  }
  .con01 li.up {
    display: block;
    opacity: 1;
  }

  /* con02 */
  .con02 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  section h2 {
    font-size: 36px;
    margin: 30px 0px;
  }
  section h2 span {
    font-size: 24px;
    font-weight: normal;
    margin-left: 7px;
  }
  .con02 > div {
    width: 1200px;
    height: 700px;
    position: relative;
    margin: 0px auto;
  }

  /*.con02_배경*/
  .con02 .bg {
    /* width: 1100px; */
    width: 100%;
    height: 700px;
    display: flex;
  }
  .con02 .bg li {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: none;
  }
  .con02 .bg li.look {
    display: block;
    /* opacity: 1; */
  }
  .con02 .bg li:nth-child(1) {
    background: url(img/pic1.jpg) no-repeat center / cover;
  }
  .con02 .bg li:nth-child(2) {
    background: url(img/pic2.jpg) no-repeat center / cover;
  }
  .con02 .bg li:nth-child(3) {
    background: url(img/pic3.jpg) no-repeat center / cover;
  }
  .con02 .bg li:nth-child(4) {
    background: url(img/pic4.jpg) no-repeat center / cover;
  }

  /*.con02_title*/
  .con02 .title {
    width: calc(1100px / 3);
    height: calc(700px / 4 * 3);
    position: absolute;
    left: 100px;
    top: 0px;
    display: flex;
  }
  .con02 .title li {
    width: 100%;
    height: 100%;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 30px 30px;
    padding: 20px;
    overflow: hidden;
  }
  .con02 .title li h3 {
    font-size: 40px;
  }
  .con02 .title li p {
    line-height: 27px;
  }
  .con02 .title li.look {
    display: flex;
  }

  /* .con02_menu */
  .con02 .menu {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 25px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 10px 40px;
  }
  .con02 .menu li {
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  .con02 .menu li.look {
    color: #ff8f1c;
  }
  /* .con02_이미지 */
  .con02 img {
    width: 500px;
    position: absolute;
    top: -100px;
    right: 100px;
  }

  /*.con03*/
  .con03 {
    height: 700px;
    background-image: url(img/line02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .con03 .simply-scroll-clip {
    width: 100%;
    overflow: hidden;
    cursor: grabbing;
    user-select: none;
  }
  .con03 ul {
    display: flex;
    text-align: center;
  }
  .con03 .images {
    height: 250px;
    position: relative;
  }
  .con03 .images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .con03 .images img:nth-child(1) {
    /* object-fit: none; */
  }
  .con03 li img:nth-child(1) {
    opacity: 0;
  }
  .con03 li {
    width: 400px;
    flex-shrink: 0;
  }
  .con03 li h4 {
    font-size: 18px;
    margin: 15px 0px;
  }
  .con03 li:hover img:nth-child(1) {
    z-index: 2;
    opacity: 1;
  }
  .con03 li:hover img:nth-child(2) {
    opacity: 0;
  } /*이 방법 말고...?*/

  /*.con04*/
  .con04 {
    width: 100%;
    height: 900px;
    align-content: center;
    background-image: linear-gradient(180deg, #fff, #fff5bc);
  }
  .con04 h3 {
    text-align: center;
    font-size: 60px;
    overflow: hidden;
  }
  .con04 h3.up {
    animation: up 0.5s linear;
  }
  .con04 h3 span {
    color: #ff8f1c;
  }
  @keyframes up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  /*플로팅 아이콘*/
  #floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 50;
  }

  /*플로팅_top버튼*/
  .top {
    padding-bottom: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .topInner {
    background-color: white;
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: #ff8f1c;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  }
  .top i {
    transition: 0.3s;
  }
  .top:hover i {
    transform: translateY(-5px);
  }

  /*플로팅_메인 contact 버튼*/
  .floatFix {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: aqua;
    background: url(img/p7.jpg) center no-repeat;
    background-size: cover; /*??*/
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  }
  .floatFix p {
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  /*플로팅_문의창*/
  .inquery {
    width: 500px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: -400px;
    top: 0;
    text-align: left;
    opacity: 0;
  }
  .inquery i {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 20px;
    cursor: pointer;
  }
  .inquery h4 {
    font-size: 23px;
  }
  .inquery p {
    padding: 10px 0px;
    border-bottom: 1px solid black;
  }
  .inquery li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
  }
  .inquery li input {
    width: 250px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 15px;
    border: 0.5px solid black;
  }
  .inquery li:nth-child(3) {
    align-items: flex-start; /*흠..*/
  }
  .inquery li:nth-child(3) input {
    height: 100px;
    border-radius: 20px;
  }

  .inquery button {
    display: block;
    margin-left: auto;
    background-color: #ff8f1c;
    border: none;
    padding: 10px;
    border-radius: 10px; /*통일?*/
    cursor: pointer;
    color: white;
  }
}
@media (min-width: 720px) and (max-width: 1220px) {
  /**/
  section h2 {
    padding: 0px 50px;
  }
  .con01 {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(-90deg, #fff, #fff5bc);
    padding-top: 200px;
  }
  .con01::after {
    width: 100%;
    height: 100px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #ffffff);
  }
  .con01 .one {
    height: 500px;
  }

  /*.con01_큰 궤도*/
  .con01 .center {
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    background-color: white;
  }
  .con01 .orbit {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle-one {
    width: 500px;
    border: 1px solid #ddd;
    z-index: 5;
  }
  .circle-two {
    width: 450px;
    border: 1px solid #999;
    z-index: 6;
  }
  .circle-three {
    width: 400px;
    border: 1px solid black;
    z-index: 7;
  }

  /*.con01_큰 궤도_원 움직임*/
  .con01 .big {
    width: 20px;
    background-color: #ff8f1c;
    /* animation: orbit 7s linear infinite; */
  }
  .con01 .move1 {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 0% 260px;
    animation: orbit 5s linear infinite;
  }
  .con01 .move2 {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 235px 0px;
    animation: orbit 6s linear infinite;
  }
  .con01 .move3 {
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: -190px 0px;
    animation: orbit 7s linear infinite;
  }

  /*.con01_작은 궤도*/
  .circle-four {
    width: 250px;
    border: 1px solid black;
    z-index: 8;
  }
  .circle-five {
    width: 200px;
    border: 1px solid #999;
    z-index: 9;
  }
  .circle-six {
    width: 150px;
    border: 1px solid #ddd;
    z-index: 10;
  }

  /*.con01_작은 궤도_원 움직임*/
  .con01 .small {
    width: 16px;
    background-color: #fff147;
    animation: orbit 3s linear infinite;
  }
  .con01 .move4 {
    transform-origin: 0% 260px; /* 개체의 회전 중심점 설정 (부모 반지름만큼) */
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 0% 133px;
  }
  .con01 .move5 {
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 108px 0px;
  }
  .con01 .move6 {
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: -67px 0px;
  }

  /*.con01_원 움직임_애니메이션*/
  @keyframes orbit {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /*.con01_중앙 이미지*/
  .con01 img {
    width: 150px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  /*.con01_values */
  .con01 .values p {
    cursor: pointer;
    font-weight: bold;
    z-index: 11;
    animation: upDown infinite 0.7s alternate linear;
  }
  @keyframes upDown {
    0% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(-4px);
    }
  }
  .con01 .values > div {
    position: absolute;
    transition: 0.4s;
  }
  .con01 .values > div.sizeUp {
    font-size: 22px;
  }
  .con01 .values > div.active {
    font-size: 22px;
    color: #ffc848;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .con01 .values > div:nth-child(1) {
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%); /*??*/
  }
  .con01 .values > div:nth-child(2) {
    bottom: 30px;
    left: -50px;
  }
  .con01 .values > div:nth-child(3) {
    bottom: 30px;
    right: -30px;
  }

  /*.con01_텍스트*/
  .con01 ul {
    width: 85%;
    /* height: 200px; */
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%); /*??*/
    align-content: center;
  }
  .con01 ul h3 {
    font-size: 40px;
    backface-visibility: hidden;
  }
  .con01 ul p {
    margin: 15px 0px;
    align-content: center;
    text-align: right;
  }
  .con01 ul li div:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }
  .con01 ul li div:nth-child(2) p {
    font-size: 18px;
  }
  .con01 ul li div:nth-child(2) .second {
    font-size: 25px;
    font-weight: bold;
    backface-visibility: hidden;
    display: none;
  }
  .con01 .line {
    width: 100%;
    height: 1px;
    background-color: black;
  }
  .con01 li {
    display: none;
    opacity: 0;
  }
  .con01 li.up {
    display: block;
    opacity: 1;
  }

  /* con02 */
  .con02 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  section h2 {
    font-size: 36px;
    margin: 30px 0px;
  }
  section h2 span {
    font-size: 24px;
    font-weight: normal;
    margin-left: 7px;
  }
  .con02 > div {
    width: 90%;
    height: 600px;
    position: relative;
    margin: 0px auto;
  }

  /*.con02_배경*/
  .con02 .bg {
    /* width: 1100px; */
    width: 100%;
    height: 100%;
    display: flex;
  }
  .con02 .bg li {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: none;
  }
  .con02 .bg li.look {
    display: block;
    /* opacity: 1; */
  }
  .con02 .bg li:nth-child(1) {
    background: url(img/pic1.jpg) no-repeat center / cover;
  }
  .con02 .bg li:nth-child(2) {
    background: url(img/pic2.jpg) no-repeat center / cover;
  }
  .con02 .bg li:nth-child(3) {
    background: url(img/pic3.jpg) no-repeat center / cover;
  }
  .con02 .bg li:nth-child(4) {
    background: url(img/pic4.jpg) no-repeat center / cover;
  }

  /*.con02_title*/
  .con02 .title {
    width: calc(100% / 3);
    height: 70%;
    position: absolute;
    left: 10%;
    top: 0px;
    display: flex;
  }
  .con02 .title li {
    width: 100%;
    height: 100%;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 30px 30px;
    padding: 20px;
    overflow: hidden;
  }
  .con02 .title li h3 {
    font-size: 3.5vw;
  }
  .con02 .title li p {
    line-height: 27px;
    /* font-size: 1.4vw; */
    font-size: 12px;
  }
  .con02 .title li.look {
    display: flex;
  }

  /* .con02_menu */
  .con02 .menu {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 25px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 14px;
  }
  .con02 .menu li {
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  .con02 .menu li.look {
    color: #ff8f1c;
  }
  /* .con02_이미지 */
  .con02 img {
    width: 50%;
    position: absolute;
    top: -40px;
    right: 10%;
  }

  /*.con03*/
  .con03 {
    height: 700px;
    background-image: url(img/line02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .con03 .simply-scroll-clip {
    width: 100%;
    overflow: hidden;
    cursor: grabbing;
    user-select: none;
  }
  .con03 ul {
    display: flex;
    text-align: center;
  }
  .con03 .images {
    height: 250px;
    position: relative;
  }
  .con03 .images img {
    /* width: 50%; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .con03 li img:nth-child(1) {
    opacity: 0;
  }
  .con03 li {
    width: 400px;
    flex-shrink: 0;
  }
  .con03 li h4 {
    font-size: 18px;
    margin: 15px 0px;
  }
  .con03 li:hover img:nth-child(1) {
    z-index: 2;
    opacity: 1;
  }
  .con03 li:hover img:nth-child(2) {
    opacity: 0;
  } /*이 방법 말고...?*/

  /*.con04*/
  .con04 {
    width: 100%;
    height: 900px;
    align-content: center;
    background-image: linear-gradient(180deg, #fff, #fff5bc);
  }
  .con04 h3 {
    text-align: center;
    font-size: 5vw;
    overflow: hidden;
  }
  .con04 h3.up {
    animation: up 0.5s linear;
  }
  .con04 h3 span {
    color: #ff8f1c;
  }
  @keyframes up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  /*플로팅 아이콘*/
  #floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 50;
  }

  /*플로팅_top버튼*/
  .top {
    padding-bottom: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .topInner {
    background-color: white;
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: #ff8f1c;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  }
  .top i {
    transition: 0.3s;
  }
  .top:hover i {
    transform: translateY(-5px);
  }

  /*플로팅_메인 contact 버튼*/
  .floatFix {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: aqua;
    background: url(img/p7.jpg) center no-repeat;
    background-size: cover; /*??*/
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  }
  .floatFix p {
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  /*플로팅_문의창*/
  .inquery {
    width: 500px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: -400px;
    top: 0;
    text-align: left;
    opacity: 0;
  }
  .inquery i {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 20px;
    cursor: pointer;
  }
  .inquery h4 {
    font-size: 23px;
  }
  .inquery p {
    padding: 10px 0px;
    border-bottom: 1px solid black;
  }
  .inquery li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
  }
  .inquery li input {
    width: 250px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 15px;
    border: 0.5px solid black;
  }
  .inquery li:nth-child(3) {
    align-items: flex-start; /*흠..*/
  }
  .inquery li:nth-child(3) input {
    height: 100px;
    border-radius: 20px;
  }

  .inquery button {
    display: block;
    margin-left: auto;
    background-color: #ff8f1c;
    border: none;
    padding: 10px;
    border-radius: 10px; /*통일?*/
    cursor: pointer;
    color: white;
  }
}
@media (max-width: 720px) {
  /**/
  section h2 {
    padding: 0px 50px;
  }
  .con01 {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(-90deg, #fff, #fff5bc);
    /* padding-top: 150px; */
  }
  .con01::after {
    width: 100%;
    height: 100px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #ffffff);
  }
  .con01 .one {
    height: 500px;
  }

  /*.con01_큰 궤도*/
  .con01 .center {
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    background-color: white;
  }
  .con01 .orbit {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle-one {
    width: 70%;
    border: 1px solid #ddd;
    z-index: 5;
  }
  .circle-two {
    width: 60%;
    border: 1px solid #999;
    z-index: 6;
  }
  .circle-three {
    width: 50%;
    border: 1px solid black;
    z-index: 7;
  }

  /*.con01_원 움직임용 궤도*/
  .con01 .wrapper1 {
    width: 100%;
    height: 100%;
    animation: orbit 5s linear infinite;
  }
  .con01 .wrapper2 {
    width: 100%;
    height: 100%;
    animation: orbit 4s linear infinite;
  }
  .con01 .wrapper3 {
    width: 100%;
    height: 100%;
    animation: orbit 3s linear infinite;
  }
  /*.con01_큰 궤도_원*/
  .con01 .big {
    width: 16px;
    background-color: #ff8f1c;
    /* animation: orbit 7s linear infinite; */
  }
  .con01 .move1 {
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 0% 132px;
  }
  .con01 .move2 {
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 107px 0px;
  }
  .con01 .move3 {
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: -68px 0px;
  }

  /*.con01_작은 궤도*/
  .circle-four {
    width: 250px;
    border: 1px solid black;
    z-index: 8;
    display: none;
  }
  .circle-five {
    width: 200px;
    border: 1px solid #999;
    z-index: 9;
    display: none;
  }
  .circle-six {
    width: 150px;
    border: 1px solid #ddd;
    z-index: 10;
    display: none;
  }

  /*.con01_작은 궤도_원 움직임*/
  .con01 .small {
    width: 16px;
    background-color: #fff147;
    animation: orbit 3s linear infinite;
    display: none;
  }
  .con01 .move4 {
    transform-origin: 0% 260px; /* 개체의 회전 중심점 설정 (부모 반지름만큼) */
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 0% 133px;
  }
  .con01 .move5 {
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 108px 0px;
  }
  .con01 .move6 {
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: -67px 0px;
  }

  /*.con01_원 움직임_애니메이션*/
  @keyframes orbit {
    0% {
      transform: rotate(0deg);
      /* top: 0px; */
    }
    100% {
      transform: rotate(360deg);
      /* bottom: 0px; */
    }
  }

  /*.con01_중앙 이미지*/
  .con01 img {
    width: 25%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  /*.con01_values */
  .con01 .values p {
    cursor: pointer;
    font-weight: bold;
    z-index: 11;
    animation: upDown infinite 0.7s alternate linear;
  }
  @keyframes upDown {
    0% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(-4px);
    }
  }
  .con01 .values > div {
    position: absolute;
    transition: 0.4s;
    font-size: 15px;
  }
  .con01 .values > div.sizeUp {
    font-size: 19px;
  }
  .con01 .values > div.active {
    font-size: 19px;
    color: #ffc848;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .con01 .values > div:nth-child(1) {
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%); /*??*/
  }
  .con01 .values > div:nth-child(2) {
    bottom: 30px;
    left: -50px;
  }
  .con01 .values > div:nth-child(3) {
    bottom: 30px;
    right: -30px;
  }

  /*.con01_텍스트*/
  .con01 ul {
    width: 85%;
    /* height: 200px; */
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%); /*??*/
    align-content: center;
  }
  .con01 ul h3 {
    font-size: 30px;
    backface-visibility: hidden;
  }
  .con01 ul p {
    margin: 15px 0px;
    align-content: center;
    text-align: right;
    font-size: 13px;
  }
  .con01 ul li div:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }
  .con01 ul li div:nth-child(2) p {
    font-size: 15px;
  }
  .con01 ul li div:nth-child(2) .second {
    font-size: 25px;
    font-weight: bold;
    backface-visibility: hidden;
    display: none;
  }
  .con01 .line {
    width: 100%;
    height: 1px;
    background-color: black;
  }
  .con01 li {
    display: none;
    opacity: 0;
  }
  .con01 li.up {
    display: block;
    opacity: 1;
  }

  /* con02 */
  .con02 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  section h2 {
    font-size: 36px;
    margin: 30px 0px;
  }
  section h2 span {
    font-size: 24px;
    font-weight: normal;
    display: block;
  }
  .con02 > div {
    width: 90%;
    height: 600px;
    position: relative;
    margin: 0px auto;
  }

  /*.con02_배경*/
  .con02 .bg {
    /* width: 1100px; */
    width: 100%;
    height: 100%;
    display: flex;
  }
  .con02 .bg li {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: none;
  }
  .con02 .bg li.look {
    display: block;
    /* opacity: 1; */
  }
  .con02 .bg li:nth-child(1) {
    background: url(img/pic1.jpg) no-repeat center / cover;
  }
  .con02 .bg li:nth-child(2) {
    background: url(img/pic2.jpg) no-repeat center / cover;
  }
  .con02 .bg li:nth-child(3) {
    background: url(img/pic3.jpg) no-repeat center / cover;
  }
  .con02 .bg li:nth-child(4) {
    background: url(img/pic4.jpg) no-repeat center / cover;
  }

  /*.con02_title*/
  .con02 .title {
    width: calc(100% / 3);
    height: 65%;
    position: absolute;
    left: 10%;
    top: 0px;
    display: flex;
  }
  .con02 .title li {
    width: 100%;
    height: 100%;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 30px 30px;
    padding: 20px;
    overflow: hidden;
  }
  .con02 .title li h3 {
    font-size: 3.5vw;
  }
  .con02 .title li p {
    line-height: 20px;
    font-size: 1.8vw;
  }
  .con02 .title li.look {
    display: flex;
  }

  /* .con02_menu */
  .con02 .menu {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 12px;
  }
  .con02 .menu li {
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  .con02 .menu li.look {
    color: #ff8f1c;
  }
  /* .con02_이미지 */
  .con02 img {
    width: 50%;
    position: absolute;
    top: -100px;
    right: 100px;
  }

  /*.con03*/
  .con03 {
    height: 700px;
    background-image: url(img/line02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .con03 .simply-scroll-clip {
    width: 100%;
    overflow: hidden;
    cursor: grabbing;
    user-select: none;
  }
  .con03 ul {
    display: flex;
    text-align: center;
  }
  .con03 .images {
    height: 250px;
    position: relative;
  }
  .con03 .images img {
    /* width: 45%; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .con03 li img:nth-child(1) {
    opacity: 0;
  }
  .con03 li {
    width: 300px;
    flex-shrink: 0;
  }
  .con03 li h4 {
    font-size: 16px;
    margin: 15px 0px;
  }
  .con03 li:hover img:nth-child(1) {
    z-index: 2;
    opacity: 1;
  }
  .con03 li:hover img:nth-child(2) {
    opacity: 0;
  } /*이 방법 말고...?*/
  .con03 li p {
    font-size: 14px;
  }

  /*.con04*/
  .con04 {
    width: 100%;
    height: 900px;
    align-content: center;
    background-image: linear-gradient(180deg, #fff, #fff5bc);
  }
  .con04 h3 {
    text-align: center;
    font-size: 5vw;
    overflow: hidden;
  }
  .con04 h3.up {
    animation: up 0.5s linear;
  }
  .con04 h3 span {
    color: #ff8f1c;
  }
  @keyframes up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  /*플로팅 아이콘*/
  #floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 50;
  }

  /*플로팅_top버튼*/
  .top {
    padding-bottom: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .topInner {
    background-color: white;
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: #ff8f1c;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  }
  .top i {
    transition: 0.3s;
  }
  .top:hover i {
    transform: translateY(-5px);
  }

  /*플로팅_메인 contact 버튼*/
  .floatFix {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: aqua;
    background: url(img/p7.jpg) center no-repeat;
    background-size: cover; /*??*/
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  }
  .floatFix p {
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  /*플로팅_문의창*/
  .inquery {
    width: 300px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 30px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: -200px;
    top: 0;
    text-align: left;
    opacity: 0;
  }
  .inquery i {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 18px;
    cursor: pointer;
  }
  .inquery h4 {
    font-size: 20px;
  }
  .inquery p {
    padding: 10px 0px;
    border-bottom: 1px solid black;
    font-size: 13px;
  }
  .inquery li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
  }
  .inquery li span {
    font-size: 14px;
  }
  .inquery li input {
    width: 100px;
    height: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 0.5px solid black;
  }
  .inquery li:nth-child(3) {
    align-items: flex-start; /*흠..*/
  }
  .inquery li:nth-child(3) input {
    height: 100px;
    border-radius: 20px;
  }

  .inquery button {
    display: block;
    margin-left: auto;
    background-color: #ff8f1c;
    border: none;
    padding: 10px;
    border-radius: 10px; /*통일?*/
    cursor: pointer;
    color: white;
  }
}
